body{
   background:#333;
   color:#fff;
   background:url(img/foot.jpeg);
   background-position: center;
   background-repeat: no-repeat;
   background-color: #464646;
   background-attachment: fixed;


       font-family: 'Cabin Sketch', cursive;

       font-family: 'Aldrich', sans-serif;

       font-family: 'Forum', cursive;

       font-family: 'Volkhov', serif;


 }
/* #home-section
{
  background:url('log1.jpeg') no-repeat;
  min-height:700px;
  background-size:cover;
  background-attachment:fixed;
} */
  .dark-overlay{
  background-color:rgba(0,0,0,0.3);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  min-height:100%;
}
.home-inner
{
  padding-top:40px;
}
.card-form{
  opacity:0.8;
}
.navbar{
  border-bottom:#008ed6 3px solid;
  opacity:0.5;
}
.pad{
    padding-top:70px;
}
.col
{
  color: #fff;
}
